<!-- PANEL DASHBOARD -->
<div class="panel panel__dashboard" id="panel-dashboard">
  <div class="panel__dashboard-box">
    <div class="panel__dashboard--recent-posts">
      <div class="module document-box" v-if="response">
        <p>\{{ responseMessage }}</p>
      </div>
      <div class="module document-box" v-for="document in recentDocuments" v-else>
        <div class="document-box-content">
          <div class="document-box-content__header">
            <div class="document-box-content__header--img">
              <img v-bind:src="'pics/' + document.author.img" alt="Foto profilo utente">
            </div>
            <p class="document-box-content__header--heading heading-fourth">
              <span>\{{document.author.firstname}} \{{document.author.lastname}}</span> ha pubblicato
              <span>\{{document.name}}</span>.
            </p>
            <a v-bind:href="'documents/' + document.directory" class="document-box-content__header--download" download>
                <i class="fas fa-download"></i>
            </a>
          </div>
          <div class="document-box-content__info">
            <p class="document-box-content__info--description">\{{document.description}}</p>
          </div>
          <div class="document-box-content__footer">
            <ul class="document-box-content__footer--info">
              <li>\{{document.subject.subject}}</li>
              <li>\{{document.class.class}} \{{document.section.section}}</li>
              <li>\{{document.type.type}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="module panel__dashboard--profile">
      <div class="profile-box">
        <div v-bind:style="'background-image: url(pics/' + user.img + ');'" class="profile-img"></div>
        <div class="profile-info">
          <p class="profile-info--name heading-secondary">\{{user.firstname}} \{{user.lastname}}</p>
          <p class="profile-info--documents heading-tertiary">Pubblicazioni: \{{user.documents}}</p>
        </div>
      </div>
    </div>
    <div class="module panel__dashboard--top-profiles">

    </div>
  </div>
</div>
