<!-- PANEL SEARCH -->
<div class="panel panel__search" id="panel-search">
  <div class="module">
    <div class="row">
      <div class="col-1-of-1">
        <input type="text" class="module-input-text" placeholder="Cerca un documento" autocomplete="off" ref="searchFullText" @keyup.enter="search">
      </div>
    </div>
    <div class="row">
      <div class="col-1-of-3">
        <select class="module-input-select" ref="searchType">
          <option class="module-input-option" value="" selected>Tipo</option>
          <option class="module-input-option" v-bind:value="type._id" v-for="type in types">
            \{{ type.type }}
          </option>
        </select>
      </div>
      <div class="col-1-of-3">
        <select class="module-input-select" v-model="selectedFaculty" v-on:change="changeFaculty" ref="searchFaculty">
          <option class="module-input-option" value="" selected>Specializzazione</option>
          <option class="module-input-option" v-bind:value="faculty._id" v-for="faculty in faculties">
            \{{ faculty.faculty }}
          </option>
        </select>
      </div>
      <div class="col-1-of-3">
        <select class="module-input-select" ref="searchSubject">
          <option class="module-input-option" value="" selected>Materia</option>
            <option class="module-input-option" v-bind:value="subject._id" v-for="subject in subjects">
              \{{ subject.subject }}
            </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-1-of-3">
        <select class="module-input-select" ref="searchClass">
          <option class="module-input-option" value="" selected>Classe</option>
          <option class="module-input-option" v-bind:value="schoolClass._id" v-for="schoolClass in schoolClasses">
            \{{ schoolClass.class }}
          </option>
        </select>
      </div>
      <div class="col-1-of-3">
        <select class="module-input-select" ref="searchSection">
          <option class="module-input-option" value="" selected>Sezione</option>
          <option class="module-input-option" v-bind:value="section._id" v-for="section in sections">
            \{{ section.section }}
          </option>
        </select>
      </div>
      <div class="col-1-of-3">
        <select class="module-input-select" ref="searchVisibility">
          <option class="module-input-option" value="" selected>Visibilità</option>
          <option class="module-input-option" v-for="visibility in visibilities" v-bind:value="visibility._id">
            \{{ visibility.visibility }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div clas="col-1-of-1">
        <button class="module-button module-button--green" @click="search">Cerca</button>
      </div>
    </div>
  </div>
  <div class="module module-search" v-if="documents">
    <div class="row" v-for="document in documents">
      <div class="col-1-of-1">
        <article class="module-document-search-article">
          <a v-bind:href="'documents/' + document.directory" class="module-document-search-article--name u-margin-bottom-medium" download>\{{document.name}}</a>
          <p class="module-document-search-article--delete u-margin-bottom-medium" v-if="document.own" @click="removeDocument(document._id)">Elimina</p>
          <p class="module-document-search-article--description u-margin-bottom-medium">\{{document.description}}</p>
          <p class="module-document-search-article--info"><span>Tipo: </span>\{{document.type.type}}, <span>Specializzazione: </span>\{{document.faculty.faculty}}, <span>Materia: </span>\{{document.subject.subject}}, <span>Classe: </span>\{{document.class.class}}, <span>Sezione: </span>\{{document.section.section}}, <span>Pubblicato da: </span>\{{document.author.firstname}} \{{document.author.lastname}}</p>
        </article>
      </div>
    </div>
    <div class="row" v-if="documents.length === 0">
      <div class="col-1-of-1">
        <p class="module-document-search-noresults">Nessun risultato</p>
      </div>
    </div>
  </div>
  <div class="module">
    <div class="row">
      <div class="col-1-of-2">
        <input type="text" class="module-input-text" placeholder="Cerca una collezione">
      </div>
      <div class="col-1-of-2">
        <select class="module-input-select" ref="collectionSearchPrivileges">
          <option class="module-input-option" value="" selected>Privilegi</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-1-of-1">
        <button class="module-button module-button--green">Cerca</button>
      </div>
    </div>
  </div>
</div>
