<!-- PANEL UPLOAD -->
<div class="panel panel--upload" id="panel-upload">
  <div class="module">
    <div class="row">
      <div class="col-1-of-1">
        <input type="text" class="module-input-text" placeholder="Titolo" autocomplete="off" required>
      </div>
    </div>
    <div class="row">
      <div class="col-1-of-1">
        <textarea class="module-input-textarea" placeholder="Descrizione"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-1-of-3">
        <select class="module-input-select" id="upload-type">
          <option class="module-input-option" value="" disabled selected>Tipo</option>
          <option class="module-input-option" v-bind:value="type._id" v-for="type in types">
            \{{ type.type }}
          </option>
        </select>
      </div>
      <div class="col-1-of-3">
        <select class="module-input-select" id="upload-faculty" v-model="selectedFaculty" v-on:change="changeFaculty">
          <option class="module-input-option" value="" disabled selected>Specializzazione</option>
          <option class="module-input-option" v-bind:value="faculty._id" v-for="faculty in faculties">
            \{{ faculty.faculty }}
          </option>
        </select>
      </div>
      <div class="col-1-of-3">
        <select class="module-input-select" id="upload-subject">
          <option class="module-input-option" value="" disabled selected>Materia</option>
            <option class="module-input-option" v-bind:value="subject._id" v-for="subject in subjects">
              \{{ subject.subject }}
            </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-1-of-3">
        <select class="module-input-select" id="upload-class">
          <option class="module-input-option" value="" disabled selected>Classe</option>
          <option class="module-input-option" value="1">1</option>
          <option class="module-input-option" value="2">2</option>
          <option class="module-input-option" value="3">3</option>
          <option class="module-input-option" value="4">4</option>
          <option class="module-input-option" value="5">5</option>
        </select>
      </div>
      <div class="col-1-of-3">
        <select class="module-input-select" id="upload-section">
            <option class="module-input-option" value="" disabled selected>Sezione</option>
            <option class="modile-input-option" v-for="section in sections" v-bind:value="section._id">\{{section.section}}</option>
          </select>
      </div>
      <div class="col-1-of-3">
        <select class="module-input-select" id="upload-visibility">
          <option class="module-input-option" value="" disabled selected>Visibilità</option>
          <option class="module-input-option" v-for="visibility in visibilities" v-bind:value="visibility._id">\{{visibility.visibility}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-1-of-2">
        <button class="module-button module-button--blue">Carica file</button>
      </div>
      <div class="col-1-of-2">
        <button class="module-button module-button--green">Invia</button>
      </div>
    </div>
  </div>
</div>
