<!-- PANEL UPLOAD -->
<div class="panel panel__upload" id="panel-upload">
  <div class="module">
    <div class="row">
      <div class="col-1-of-1">
        <input type="text" class="module-input-text" placeholder="Titolo" autocomplete="off" required ref="uploadName">
      </div>
    </div>
    <div class="row">
      <div class="col-1-of-1">
        <textarea class="module-input-textarea" placeholder="Descrizione" ref="uploadDescription"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-1-of-3">
        <select class="module-input-select" id="upload-type" ref="uploadType">
          <option class="module-input-option" value="" disabled selected>Tipo</option>
          <option class="module-input-option" v-bind:value="type._id" v-for="type in types">
            \{{ type.type }}
          </option>
        </select>
      </div>
      <div class="col-1-of-3">
        <select class="module-input-select" id="upload-faculty" v-model="selectedFaculty" v-on:change="changeFaculty" ref="uploadFaculty">
          <option class="module-input-option" value="" disabled selected>Specializzazione</option>
          <option class="module-input-option" v-bind:value="faculty._id" v-for="faculty in faculties">
            \{{ faculty.faculty }}
          </option>
        </select>
      </div>
      <div class="col-1-of-3">
        <select class="module-input-select" id="upload-subject" ref="uploadSubject">
          <option class="module-input-option" value="" disabled selected>Materia</option>
            <option class="module-input-option" v-bind:value="subject._id" v-for="subject in subjects">
              \{{ subject.subject }}
            </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-1-of-3">
        <select class="module-input-select" id="upload-class" ref="uploadClass">
          <option class="module-input-option" value="0" selected>Classe</option>
          <option class="module-input-option" v-bind:value="schoolClass._id" v-for="schoolClass in schoolClasses">
            \{{ schoolClass.class }}
          </option>
        </select>
      </div>
      <div class="col-1-of-3">
        <select class="module-input-select" id="upload-section" ref="uploadSection">
          <option class="module-input-option" value="" selected>Sezione</option>
          <option class="module-input-option" v-for="section in sections" v-bind:value="section._id">
            \{{ section.section }}
          </option>
        </select>
      </div>
      <div class="col-1-of-3">
        <select class="module-input-select" id="upload-visibility" ref="uploadVisibility">
          <option class="module-input-option" value="pubblico" disabled selected>Visibilità</option>
          <option class="module-input-option" v-for="visibility in visibilities" v-bind:value="visibility._id">\{{visibility.visibility}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-1-of-2">
        <input type="file" class="module-input-file" id="upload-file" ref="uploadFile">
        <label class="module-button module-button--blue" for="upload-file">Carica file</label>
      </div>
      <div class="col-1-of-2">
        <button class="module-button module-button--green" @click="upload">Invia</button>
      </div>
    </div>
  </div>
  <div class="module" v-if="response">
    <div class="row" v-if="uploading">
      <div class="col-1-of-1">
        <p>\{{progress}}</p>
      </div>
    </div>
    <div class="row" v-else>
      <div class="col-1-of-1">
        <p>\{{responseMessage}}</p>
      </div>
    </div>
  </div>
</div>
